<% if current_user.buffer_token.blank? == false %>
  <% client = Buff::Client.new(current_user.buffer_token) %>
  <% if current_user.provider == 'buffer' %>
    <%# buffer_post(["51b560b03f9c36c649000009"], "test http://www.google.com") %>
    <ul class="nav nav-tabs" id="profile-tab">
    	<% count = 0 %>
    	<% client.profiles.each do |profile| %>
    	  <% count += 1 %>
    	  <% if count == 1 %>
    	    <li class = "active">
    		<% else %>
          <li>
      	<% end %>
      	<a href="#<%= "#{profile["service"]}-#{profile["service_username"].gsub(" ","-")}" %>" data-toggle="tab">
      		<%= "#{profile["service"].humanize}: #{profile["service_username"]}" %></a>
        </li>
      <% end %>
      <% count = 0 %>
    </ul>
    <div class="tab-content">
        <% client.profiles.each do |profile| %>
      	  <% count += 1 %>
      	  <% if count == 1 %>
      	  <div class="tab-pane active" id="<%= "#{profile["service"]}-#{profile["service_username"].gsub(" ","-")}" %>">
      		<% else %>
          <div class="tab-pane" id="<%= "#{profile["service"]}-#{profile["service_username"].gsub(" ","-")}" %>">
        	<% end %>
        	  <table class="footable table">
        	  	<thead>
        	  		<tr>
        	  			<% if profile["service"] == "linkedin" %>
        	  			<th>Message</th>
        	  			<th>Link</th>
        	  			<th data-type="numeric" style="cursor:pointer">Comments</th>
        	  			<th data-type="numeric" style="cursor:pointer">Likes</th>
        	  			<th data-type="numeric" style="cursor:pointer">Reshares</th>
        	  			<th data-type="numeric" data-sort-initial="descending" style="cursor:pointer">Clicks</th>
        	  			<% elsif profile["service"] == "facebook" %>
        	  			<th>Message</th>
        	  			<th>Link</th>
        	  			<th data-type="numeric" style="cursor:pointer">Comments</th>
        	  			<th data-type="numeric" data-sort-initial="descending" style="cursor:pointer">Likes</th>
        	  			<% elsif profile["service"] == "twitter" %>
        	  			<th>Tweet</th>
        	  			<th data-type="numeric" style="cursor:pointer">Retweets</th>
        	  			<th data-type="numeric" style="cursor:pointer">Favorites</th>
        	  			<th data-type="numeric" style="cursor:pointer">Mentions</th>
        	  			<th data-type="numeric" style="cursor:pointer">Clicks</th>    
        	  			<th data-type="numeric" data-sort-initial="descending">Reach</th>  	  				
        	  			<% end %>
        	  			<th data-type="numeric">Sent date</th>
        	  			<th><!-- Delete --></th>
                  <th><!-- Pushback --></th>
                  <th><!-- Buffer --></th>
        	  		</tr>
        	  	</thead>
        	  	<% current_user.posts.each do |post| %>
                <% if post.remove == false %>
          	  	  <% if post.profile_id == profile["id"] %>
      	    	  	    <tr>
                        <td class="buffer-text"><%= post.text.html_safe %></td> 
      		    	  	    <% if profile["service"] == "linkedin" || profile["service"] == "facebook" %>
      		    	  	   	  <% if post.media.blank? == false %>
      		    	  	   	    <td class="buffer-url" data-url="<%= post.media["link"] %>"><a href="<%= post.media["link"] %>"><%= post.media["title"] %></a></td>
      		    	  	      <% else %>
      		    	  	        <td></td>
      		    	  	      <% end %>
                        <% end %>
      	    	  	   	  <% post.statistics.each do |metric, value| %>
      	    	  	   	    <td><%= number_with_delimiter(value, :delimiter => ",", :separator => ".") %></td>
      	    	  	   	  <% end %>
      	     	  	   	  <td data-value="<%= post.sent_at %>"><%= Time.at(post.sent_at).to_date %></td>
      	    	  	   	  <td class="remove-button" style="width:3%">
                          <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, buffer_remove_path(buffer_post_id: post.buffer_post_id) %>
                        </td>
                        <td class="pushback-button">
                          <%= link_to '<span class="glyphicon glyphicon-repeat"></span>'.html_safe %></td>
                        <td class="buffer-button" style="width:5%"></td>
      	    	  	    </tr>
          	  	  <% end %>
                <% end %>
        	  	<% end %>
        	  </table>
          </div>
        <% end %>
    </div>
  <% end %>
<% else %>
  <h1>Welcome to PostAgain.</h1>
  <%= link_to "Authorize Buffer", user_omniauth_authorize_path(:buffer) %>
<% end %>

<script type="text/javascript">
  $(function () {

      $('.glyphicon-remove').hide();
      $('.glyphicon-repeat').hide();
      $('.footable').footable();

  });
  $("tr").hover(
    function() {
      var post_url = "url=" + encodeURIComponent($(this).children(".buffer-url").attr("data-url"));
      var text = encodeURIComponent($(this).children(".buffer-text").text().replace("#", ""));
        if (post_url == "url=undefined") {
          var url = "http://bufferapp.com/add?" + "text=" + text;
          }
        else {
          var url = "http://bufferapp.com/add?" + post_url + "&text="+ text;
        }
        $(this).children(".buffer-button").append("<a href=\"" + url + "\" class=\"buffer-add-button\"  target=\"_blank\">Buffer</a>");
        $(this).children(".remove-button").find(".glyphicon-remove").show();
        $(this).children(".pushback-button").find(".glyphicon-repeat").show();
    }, function() {
      $(this).children(".buffer-button").find(".buffer-add-button").remove();
      $(this).children(".remove-button").find(".glyphicon-remove").hide();
      $(this).children(".pushback-button").find(".glyphicon-repeat").hide();
    }
  );
</script>