<% client = Buff::Client.new(Figaro.env.buffer_access_token) %>
<% if current_user.provider == 'buffer' %>
  <%# buffer_post(["51b560b03f9c36c649000009"], "test http://www.google.com") %>
  <ul class="nav nav-tabs" id="profile-tab">
  	<% count = 0 %>
  	<% client.profiles.each do |profile| %>
  	  <% count += 1 %>
  	  <% if count == 1 %>
  	  <li class = "active">
  		<% else %>
      <li>
    	<% end %>
    	<a href="#<%= "#{profile["service"]}-#{profile["service_username"].gsub(" ","-")}" %>" data-toggle="tab">
    		<%= "#{profile["service"].humanize}: #{profile["service_username"]}" %></a>
      </li>
    <% end %>
    <% count = 0 %>
  </ul>
  <div class="tab-content">
    <% client.profiles.each do |profile| %>
  	  <% count += 1 %>
  	  <% if count == 1 %>
  	  <div class="tab-pane active" id="<%= "#{profile["service"]}-#{profile["service_username"].gsub(" ","-")}" %>">
  		<% else %>
      <div class="tab-pane" id="<%= "#{profile["service"]}-#{profile["service_username"].gsub(" ","-")}" %>">
    	<% end %>
    	  <table class="footable table">
    	  	<thead>
    	  		<tr>
    	  			<% if profile["service"] == "linkedin" %>
    	  			<th>Message</th>
    	  			<th>Content</th>
    	  			<th>Comments</th>
    	  			<th>Likes</th>
    	  			<th>Reshares</th>
    	  			<th>Clicks</th>
    	  			<% elsif profile["service"] == "facebook" %>
    	  			<th>Message</th>
    	  			<th>Content</th>
    	  			<th>Comments</th>
    	  			<th>Likes</th>
    	  			<% elsif profile["service"] == "twitter" %>
    	  			<th>Tweet</th>
    	  			<th>Retweets</th>
    	  			<th>Favorites</th>
    	  			<th>Mentions</th>
    	  			<th>Clicks</th>    
    	  			<th>Reach</th>  	  				
    	  			<% end %>
    	  			<th>Sent date</th>
    	  			<th><!-- Buffer button and delete --></th>
    	  		</tr>
    	  	</thead>
    	  	  <% current_user.posts.each do |post| %>
    	  	    <% if post.profile_id == profile["id"] %>
	    	  	    <tr>
		    	  	    <% if profile["service"] == "linkedin" || profile["service"] == "facebook" %>
		    	  	   	  <td><%= post.text %></td>
		    	  	   	  <% if post.media.blank? == false %>
		    	  	   	    <td><a href="<%= post.media["link"] %>"><%= post.media["title"] %></a></td>
		    	  	      <% else %>
		    	  	        <td></td>
		    	  	      <% end %>
	    	  	   	  <% elsif profile["service"] == "twitter" %>
	    	  	   	    <td><%= post.text %></td>	
	    	  	   	  <% end %>
	    	  	   	  <% post.statistics.each do |metric, value| %>
	    	  	   	    <td><%= number_with_delimiter(value, :delimiter => ",", :separator => ".") %></td>
	    	  	   	  <% end %>
	     	  	   	  <td>Date</td>
	    	  	   	  <td><span class="glyphicon glyphicon-remove"></span> Buffer</td>
	    	  	    </tr>
    	  	    <% end %>
    	  	  <% end %>
    	  </table>
      </div>
    <% end %>
  </div>
  <%= link_to "Scan Buffer posts", buffer_scan_path %>
<% else %>
	<h1>Welcome to PostAgain.</h1>
  <%= link_to "Authorize Buffer", user_omniauth_authorize_path(:buffer) %>
<% end %>

<script type="text/javascript">
$(function () {

		$('#profile-tab a:last').tab('show')
    $('.footable').footable();

});
</script>